body{
	background-color: #FFAC73;
	color: #fff;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
}

#header-nav{
	background-color: #007AAE;
	border-radius: 0;
	border: 0;
	padding-top: 0;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Oswald', sans-serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 22;
  margin-bottom: 22;
  line-height: .75;
}

.navbar-default .navbar-brand{
  color: #FFFFFF;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .45;
} 

.navbar-default .navbar-collapse{
	border: none;
}
#nav-list a:active{
	border-top: none;
	border: none; 
	border-width: 0px;
}
#nav-list a{
	text-align: center;
	font-size: 12px;
}

#nav-list a:hover{
	background: #e7e7e7;
}
.glyphicon{
	margin-right: 5px;	
}
.navbar-header button.navbar-toggle .navbar-header .icon-bar{
  clear: both;
  margin-top: -30px;
}

.section-background-color{
	background-color: #808080;
	
} 

#top{
  color: #FFFFFF;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-bottom: 35px;
	
	
	
}

#chicken{
	margin-right: 10px;
}
#beef{
	margin-right: 10px;
}

/*** Large devices only ***/
@media (min-width: 1200px) {
	.col-lg-4{
		width: 32.33333%;
	}
}

/*** Medium devices only ***/
@media (min-width: 767px) and (max-width: 1199px) {
	#chicken{
		margin-right: 4%;
	}
	#beef{
		margin-right: 0px;
	}

	#sushi{
		margin-top: 10px;
	}
	.col-md-6{
		width: 48%;
	}
	.internal-link{
		margin-top: 10px;
		text-transform: uppercase;
	}
	 a:hover{
	 	color: white;
	}
}




/*** Small devices only ***/
@media (max-width: 767px) {
	h1{
		margin-left: 25px;
		display: inline-block;
		margin-top: 10px;
	}
	#company-name{
		font-size: 2em;
		color: white;
	}
	.navbar-default .navbar-collapse{
		border: none;
		background-color: #99C5B5;
	}
	
	#beef{
		margin: 10px 0px;
	}
	.internal-link{
		margin-top: 10px;
		text-transform: uppercase;
	}
	 a:hover{
	 	color: white;
	}
} 

/*end media query*/